# Android
build/
/captures
*.apk
*.aar
*.jks
*.keystore
*.hprof
.externalNativeBuild
.cxx
local.properties

# Custom
.leankg
/leankg
/agents
/.agents
leankg*
.kotlin/
/docs
/Screenshots
# Gradle
.gradle
gradle-wrapper.jar
!gradle-wrapper.jar

# IntelliJ/Android Studio
*.iml
.idea/
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/copyright/
!.idea/vcs.xml
!.idea/runConfigurations/
!.idea/modules.xml
!.idea/gradle.xml
!.idea/compiler.xml
!.idea/jarRepositories.xml
!.idea/deploymentTargetDropDown.xml

# OS
.DS_Store
Thumbs.db
gradle/wrapper/gradle-wrapper.jar
gradle/gradle-daemon-jvm.properties
gradle/wrapper/gradle-wrapper.properties
gradle.properties
gradlew
gradlew.bat
ORIGINAL_REQUEST.md
PROJECT.md
app/proguard-rules.pro
